table {
  border: red 3px solid;
}
th,
td {
  border: 2px blue solid;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}
tr:first-child {
  font-weight: bold;
  background-color:rgb(225, 159, 60)
}
tr:not(:first-child):not(:last-child) td:first-child{
    background-color: lightblue;
}
tr:last-child{
    background-color: lightpink;
}
tr td:not(:first-child){
    width: 100px;
}
tr:nth-child(2n):not(:last-child) td:not(:first-child){
    background-color: rgb(115, 185, 9);
}
tr:nth-child(2n+1):not(:first-child) td:not(:first-child){
    background-color: rgb(214, 240, 15);
}
